#meggy  {
    width: auto;
    height: 150px;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background: #FAFAFA;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 62px;
    margin-right: 50px;
}

#name {
    font-weight: bold;
    margin: 0px;
}

#job {
    font-weight: normal;
    color: #989898;
    margin: 0px;
}

#intro {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-align: left;
    width: 415px;
}
.introText {
    margin: 5px;
    margin-left: 13px;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

#aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vw;
}

#title {
    font-family: Borel;
    font-size: 22px;
    text-align: right;
    margin-bottom: -6px;
    margin-right: 50px;
}

@font-face { 
    font-family: Apparel-Bold; src: url('../components/fonts/apparel-bold.otf'); 
} 

@font-face { 
    font-family: Borel; src: url('../components//fonts/Borel-Regular.ttf'); 
  } 

.slideInfo {
    animation-duration: 1s;
    animation-name: slideUp;
}

@keyframes slideUp {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}

.emoji {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.specialEmoji {
    margin-top: 5px;
}

.emojiText {
    display: flex;
    flex-direction: row;
}

#wave:hover {
    animation-name: wave-animation;
    animation-duration: 1s;
    cursor: default;
}

#boiledEgg:hover {
    animation-name: bounce;
    animation-duration: 1s;
    cursor: default;
}

#paint:hover {
    animation-name: wave-animation;
    animation-duration: 1s;
    cursor: default;
}

#laptop:hover {
    animation-name: wave-animation;
    animation-duration: 1s;
    cursor: default;
}

#smile:hover {
    animation-name: spin;
    animation-duration: 1s;
    cursor: default;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@media screen and (max-width:900px) {
    #meggy {
        height: 100px;
    }

    #title {
        font-size: 18px;
    }

    p {
        font-size: 13px;
    }
}

@media screen and (max-width:700px) {
    #meggy {
        height: 80px;
    }

    #title {
        font-size: 14px;
        margin-bottom: -4px;
        margin-right: 30px;
    }

    p {
        font-size: 10px;
    }    

    h1 {
        padding-bottom: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }


    #aboutme {
        height: 85vw;
    }

    span {
        font-size: 12px;
    }

    .emoji {
        width: 10px;
        height: 10px;
        margin-top: 2px;
    }

    .specialEmoji {
        width: 10px;
        height: 10px;
        margin-top: 2px;
    }

    .emojiText {
        display: flex;
        flex-direction: row;
    }

    #intro {
        width: 300px;
        margin-bottom: 50px;
        padding-right: 5px;
    }

    .introText {
        margin: 3px;
        margin-left: 13px;
    }


}

@media screen and (max-width:500px) {

    #meggy {
        height: auto;
        width: 90%;
    }

    #title {
        font-size: 10px;
        width: 50px;
        margin-left: 40%;
    }

    p {
        font-size: 7px;
    }    

    h1 {
        margin-right: 3%;
        margin-top: 18px;
        border-radius: 10px;
        padding-right: 2px;
        padding-left: 2px;
        padding-top: 7px;
        padding-bottom: 15px;
        margin-bottom: 0px;
        width: 15%;
        height: auto;
        margin-left: 25%;
    }

    #aboutme {
        height: 100vw;
    }

    span {
        font-size: 6.5px;
    }

    .emoji {
        width: 5px;
        height: 5px;
        margin-top: 2px;
    }

    .specialEmoji {
        width: 5px;
        height: 5px;
        margin-top: 2px;
    }

    .emojiText {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #intro {
        width: 60%;
        height: auto;
        padding-right: 5px;
        padding-left: 6px;
        padding-top: 2px;
        padding-bottom: 4px;
        border-radius: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 10%;
    }

    .introText {
        margin: 0px;
        margin-left: 8.5px;
        margin-top: 3.25px;
    }

    #introContainer {
        width: 80%;
    }


}

@media (prefers-reduced-motion) {
    .fade-in-image {
      animation: none;
    }

    .slideInfo {
        animation-duration: 1s;
        animation-name: slideUp;
    }
    #wave:hover {
        animation: none;
    }
    
    #boiledEgg:hover {
        animation: none;
    }
    
    #paint:hover {
        animation: none;
    }
    
    #laptop:hover {
        animation: none;
    }
    
    #smile:hover {
        animation: none;
        animation-duration: 1s;
        cursor: default;
    }
  }

  