#contact {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#FFFFFF, #FDEECE);
    width: 100vw;
    height: 100vh;
  }

#contactMe {
    font-family: Borel, sans-serif;
    font-size: 22px;
    color: black;
    margin-top: 90px;
}

#contactMiddle {
  display: flex;
  flex-direction: column;
  background-color: red;
  align-self: center;
}

#socials {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 500px;
    position: absolute;
    margin-top: 110px;
}


  .text {
    background-color: #FAFAFA;
    color: #000000; 
    word-wrap: break-word;
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 12px;
    line-height: 24px;
    position: absolute;
    padding: 10px 20px;
    border-radius: 25px;

  }


  #firstText {
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    position: relative;
  }


  #secondText {
    margin-top: 5px;
    align-self: flex-start;
    position: relative;
  }

  .text::before, ::after {
    content: "";
		position: absolute;
    bottom: 0;
    height: 25px;
  }

  #secondText::before {
		left: -7px;
    width: 20px;
    background-color: #FAFAFA;
		border-bottom-right-radius: 16px 14px;
  }

  #secondText::after {
    left: -26px;
    width: 26px;
    background-color:  #FBF1DA;
		border-bottom-right-radius: 10px;
  }


  #iMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    position: relative;
    margin-top: 340px;
  }


#meg {
    width: 150px;
    align-self: center;
    position: absolute;
}

#mail {
    width: 100px;
    margin-top: 5px;
    
}

#linkedin {
    width: 100px;
    margin-top: 55px;
}

#github {
    width: 100px;
    margin-top: 5px;
}




.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
  }

  @font-face { 
    font-family: Borel; src: url('../components//fonts/Borel-Regular.ttf'); 
  } 

@font-face { 
    font-family: Apparel-Bold; src: url('../components/fonts/apparel-bold.otf'); 
} 

@font-face {
  font-family: Karla Regular; src: url('../components/fonts/Karla-Regular.ttf'); 
}


@media screen and (max-width:900px) {
  #meg {
    width: 120px;
  }

  #mail {
    width: 80px;
    margin-top: 0px;
  }

  #linkedin {
    width: 90px;
    margin-top: 30px;
  }

  #github {
    width: 85px;
    margin-top: 0px;
  }

  .text {
    font-size: 12px;
    padding: 3px 10px;
  }

  .text::before, ::after {
    content: "";
		position: absolute;
    bottom: 0;
    height: 20px;
  }

  #firstText {
    margin-top: 140px;
  }
  #secondText::before {
    background-color: #FAFAFA;
    width: 17px;
  }

  
  #secondText::after {
    background-color:  #FBF1DA;
    left: -25px;
  }

  #contactMe {
    font-size: 18px;
    margin-top: 70px;
  }

  
}


@media screen and (max-width:700px) {
  #meg {
    width: 95px;
  }

  #socials {
    margin-top: 170px;
  }

  #mail {
    width: 70px;
    margin-top: 0px;
  }

  #linkedin {
    width: 80px;
    margin-top: 30px;
  }

  #github {
    width: 75px;
    margin-top: 0px;
  }

  .text {
    font-size: 10px;
    padding: 3px 10px;
  }

  .text::before, ::after {
    content: "";
		position: absolute;
    bottom: 0;
    height: 10px;
  }

  #firstText {
    margin-top: 140px;
  }
  #secondText::before {
    background-color: #FAFAFA;
    width: 17px;
  }

  
  #secondText::after {
    background-color:  #FCF4E0;
    left: -25px;
  }

  #contactMe {
    font-size: 18px;
    margin-top: 70px;
  }

  #iMessage {
    margin-top: 20px;
  }

  #smiley {
    width: auto;
    height: 150px;
    margin-top: 130px;
    margin-bottom: 0px;
  }

  #contactMe {
    margin-top: 100px;
    font-size: 14px;
  }
  
}


@media screen and (max-width:500px) {
  #meg {
    width: 20%;
    margin-top: 150px;
  }

  #socials {
    display: flex;
    height: 10%;
    width: 40%;
    margin-top: 210px;
}

  #mail {
    width: 85%;
    height: auto;
    margin-top: 30%;
  }

  #linkedin {
    width: 85%;
    height: auto;
    margin-top: 70%;
  }

  #github {
    width: 85%;
    height: auto;
    margin-top: 30%;
  }

  .text {
    font-size: 8px;
    padding: 1px 10px;
  }

  .text::before, ::after {
    content: "";
		position: absolute;
    bottom: 0;
    height: 10px;
  }

  #firstText {
    margin-top: 130px;
  }
  #secondText::before {
    background-color: #FAFAFA;
    width: 17px;
  }

  
  #secondText::after {
    background-color:  #FCF4E0;
    left: -25px;
  }

  #contactMe {
    font-size: 10px;
    margin-top: 70px;
  }

  #iMessage {
    margin-top: 1%;
  }

}